

#marsBg{
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:0 0 0 0;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; */
    
}
#ingenuityRow{
    display: flex;
    flex-direction: row;
}

#marsVideo {
    
    width: 100%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    margin-top: 0;
    background-repeat: repeat-y;
    
  }