#SpaceBG{
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:0 0 0 0;
}
video {
    
    width: 100%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    margin-top: 0;
    background-repeat: repeat-y;
    
  }

  .peopleInSpaceh1{
      position: relative;
      z-index: 0;
      justify-content: center;
      text-align: right;
      font-size: 1.3em;
      font-weight: bold;
      color:#a3aec4;
      
     
      ;
  }
  
  .peopleInSpaceli{
    position: absolute;
    z-index: 1;
    justify-content: center;
    text-align: right;
    font-size: 12px;
    color:white;
    right:0;
}

.peopleInSpaceliCard{
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
    width: 10.5%;
    height: 4em;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: #3c2446;
    text-align: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    right:0;
    margin-left:90%;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px ;
}

.peopleInSpaceliCard:hover{
    background-color: #003b59;
    box-shadow: 0px 15px 20px rgba(49,0,71);
    color: black;
    transform: translateY(-7px);

}