.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}


.carousel-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    /* background-color: green; */
    color:#fff;
    flex-wrap: wrap;
}

.indicators{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    flex-wrap: wrap;
    
}

.indicators >button{
    margin:5px;
    color:white;
    background-color: black;
    cursor: pointer;
    }

    @media screen and (max-width: 480px){
    .indicators >button{
        display: flex;
        flex-wrap: wrap;
        
    }
}


.indicators > button.active{
    background-color: #a1251b;
    color: black;
}

.curiositySearchForm{
    background: none repeat scroll 0 0 #310047;
    border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #333333;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;

    text-shadow: 1px 1px 1px #000000;
   
}
.curiosityInput{
    text-align: center;
    margin-top: 1rem;
    z-index: 2;
    position: relative;

}
.curiositySearchBtn{
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    letter-spacing: 2.5px;
    font-weight: 500;
    color:#d16aff;
    height:2rem;
    width:6rem;

}.curiositySearchBtn:hover {
  background-color: #9614d0;
  box-shadow: 0px 15px 20px rgba(49,0,71);
  color: #fff;
  transform: translateY(-7px);
}

.carouselTitle{
    margin:5px 5px 5px 5px;
}
.carouselSolResult{
    color:lightblue;
}


/* @media screen and (min-width: 480px){
    .carouselul{
        display: flex;
        flex-wrap: wrap;
    }
} */
.carouselImage{
    color:white;
}

.curiositySearchPicture{ 
    
}


.curiositySearchPicture:hover{
  transform: scale(1.4);
}

@media screen and (max-width: 650px){
    .curiositySearchPicture{
        height: 200px;
        
    }
    .curiositySearchPicture{
        transform: scale(1.1);
        
    }
}