@keyframes spin {
    to {
        transform: translateX(-50%);
    }
}
@keyframes jupiterOrbit {
    from { transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(280px) rotate(-360deg); }
  }

.jupiter{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 43%;
    right: 0;
    margin:0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    z-index: 0;
    animation: jupiterOrbit 60s linear infinite;
}
.jupiter:after {
    position: static;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
   
}


.jupiter>div{
    width:200%;
    height:100%;
    animation: spin 30s linear infinite;
    background: url("../../../assets/Images/jupiterMap.jpg");
    background-size:cover
}

.jupiter:hover{
    cursor:pointer;
    transform:scale(1.5)
}